@font-face{
    font-family: Bebas;
    src: url(font/AA-BebasNeue.ttf);
}
body{
    font-family: 'Bebas', sans-serif;
}
img{
    max-width:100%;
    height: auto;
}
.container{
    width:970px;
    overflow: hidden;
}
.jet{
    color:#e8603c;
}
.ro{
    color:#f3af9d;
}
nav a{
    color: #b9b9b9;
    font-size: 1.2em;
    line-height: 2.5em;
}
.nav-pills>li.active>a{
    background-color: transparent;
    color: #ed8b6b;
}

/* ?????????????*/
.carousel-caption{
    background-color: rgba(233,90,57,0.75);
    right: 52%;
    left: 5%;
    padding: 0;
    bottom: 40px;

}
.row{
    margin-top: 2%;
}
.row+.content h4{
    color: #e8663c;
    margin-bottom: 8%;
    vertical-align: top;
    line-height: 1.28em;
}
.row+.content span{
    font-size: 2.57em;
    margin-right: 10%;
    margin-left: 8%;
    float:left;
}
.row+.content p{
    font-size: 12px;
    font-weight: 300;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-right: 5%;
}
.row+.content .btn{
    color:white;
    background-color: #e8663c;
    letter-spacing:  0.1em;
}
.separator{
    background: url(../img/recent-works-bg.png) repeat-x;
    height: 1.2em;
    line-height: 1.2em;
}
.row+.recent-works h4{
    margin: 0;
    color: #e8663c;
}
.work-examples>img{
    z-index: 100;
}
/*.img-thumbnail{*/
    /*width: ;*/
/*}*/
.about{
    border: 1px solid #b9b9b9;
    border-radius: 0 0 8px 8px;
    border-top: 1px solid white;
    padding-left: 10px;
}
.about h5{
    font-size: 1.2em;
    color: #b9b9b9;
    margin-bottom: 0;
}
.about time{
    color: #e8663c;
    font-size: 1em;
}
.about a{
    cursor: pointer;
}
footer{
    background-color: #e8663c;
    color:white;
}
footer h4{
    font-size: 1.5em;
    font-family: 'Bebas', sans-serif;

}
footer p{
    font-family: "Helvetica Neue",Helvetica, Arial, sans-serif;
    font-size: 0.85em;
}
footer .col-md-4,
footer .col-md-3,
footer .col-md-5{
    padding-top: 3%;
}
footer article{
    margin-left: 5%;
    margin-bottom: 10%;
}
/*footer .twitter-widget div{
    font-family: "Helvetica Neue",Helvetica, Arial, sans-serif;
    font-size: 0.85em;
}*/
footer .twitter-widget a{
    color: #f1b09b;
    text-decoration: none;
    font-family: "Helvetica Neue",Helvetica, Arial, sans-serif;
}
footer .social img{
    display: inline-block;
    box-shadow: 0 2px #cc5a35 ;
}
/*---------------------------------About us------------------------------*/
.about-us{
    background-color: #e8603c;
    font-family: 'Bebas', sans-serif;
    color:white;
    padding: 0.5% 0 0.5% 1%;
}
.row.page-name{
    margin-top: 0;
}
/*.about-content{
    padding-left: 0;
}*/
main p,aside p{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:0.85em;
    margin-right: 4%;
}
.initial-letter{
  float:left;
}
.bordered{
    border-left:8px solid #e8663c;
    margin-left:10%;
    padding-left: 2%;
    letter-spacing: 0.05em;
}
.alert{
    text-align: center;

}
.alert-success{
    background: rgba(152, 198, 1, 0.25);
    color: #98c601;
    border: 1px solid #98c601;
}
.alert-danger{
    background: rgba(240, 121, 99, 0.25);
    color: #f07963;
    border: 1px solid #f07963;
}
.alert-warning{
    background: rgba(251, 186, 42, 0.25);
    color: #fbba2a;
    border: 1px solid #fbba2a;
}
.alert-info{
    background: rgba(93, 153, 208, 0.25);
    color: #5d99d0;
    border: 1px solid #5d99d0;
}
.row+.col-md-12{
    padding-left: 0;
}
/*footer.footer div.row{*/
   /*margin-left:0;*/
    /*margin-right:0;*/
/*}*/

aside h5{
    margin:0;
    color:#e8603c;
}
aside a{
    color: #000000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:0.85em;
    cursor:pointer;
}
aside ul{
    list-style: none;
    padding-left: 0;
}
.photo-gallery-item{
    height:50px;
    width:50px;
    float:left;
    margin-right: 5px;
    margin-bottom: 5px;
}
.photo-gallery-item:nth-child(4){
    margin-right: 0;
}